sphinx==2.4.4
sphinx-rtd-theme<=0.5.1
sphinx-autoapi<=1.7.0
m2r2<=0.2.7
autodocsumm<=0.2.2
jupytext<=1.11.1
nbsphinx<=0.8.2
pytest<=6.2.2
pytest-cov<=2.11.1
IPython<=7.22.0
ffmpy<=0.3.0
scaper<=1.6.5rc0
tqdm<=4.59.0
termtables<=0.2.3
jupyter<=1.0.0
jupyter_contrib_nbextensions<=0.5.1
jupyter_nbextensions_configurator<=0.4.1
gradio<=1.6.4

