jams<=0.3.4
librosa<=0.8.0
matplotlib<=3.4.1
museval<=0.4.0
musdb<=0.4.0
pyyaml<=5.4.1
zarr<=2.7.0
ffmpy<=0.3.0
torch<=1.8.1
pytorch-ignite<=0.5.0.dev20210401
tensorboard<=2.4.1
norbert<=0.2.1
tqdm<=4.59.0
termtables<=0.2.3
gpytorch<=1.4.0
ffmpeg-python<=0.2.0
importlib_resources<=5.1.2
sox<=1.4.1
pyloudnorm<=0.1.0
soxbindings>=1.2.2,<=1.2.3 ; platform_system!='Windows'
